<!doctype html>
<html>
	<body>
		<img src = "/tmp/image.jpg"/>
		<br>
		<img src = "/tmp/buffer.jpg"/>
		<br>
		<br>
		<input type="submit" name="get_image" value="get image">

		<br>
		Resolution: &emsp;<input type="text" name="width" value="">X<input type="text" name="width" value="">
		<br>
		frames per second: <input type="text" name="fps" value="">
		<br>

		<select name="threshold_type">
			<option value="nil">No thresholding</option>
			<option value="rgb">RGB</option>
			<option value="hsv">HSV</option>        
			<option value="gray">gray</option>        
		</select>	

	</body>
</html>

